<div class="row">
    <h1>Educacion</h1>
    <div class = "col-lg-1"> </div>
    <div class = "col-lg-10">
        <ul>  
            <li>
                <h1>Estudio 1  </h1>  -  <h3> (AÑO) </h3>

            </li>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim hic nostrum fugit, in eius error magnam nulla earum odio? Cum omnis tenetur quaerat, laborum consequuntur repellendus quibusdam? Voluptas, totam optio?

            </p> 

        </ul>


        <ul>  
            <li>
                <h1>Estudio 2  </h1>     -     <h3> (AÑO) </h3>

            </li>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim hic nostrum fugit, in eius error magnam nulla earum odio? Cum omnis tenetur quaerat, laborum consequuntur repellendus quibusdam? Voluptas, totam optio?

            </p> 

        </ul>

        <ul>  
            <li>
                <h1>Estudio 3  </h1>  -  <h3> (AÑO) </h3>

            </li>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim hic nostrum fugit, in eius error magnam nulla earum odio? Cum omnis tenetur quaerat, laborum consequuntur repellendus quibusdam? Voluptas, totam optio?

            </p> 

        </ul>
    </div>  
    <div class = "col-lg-1"> </div>

</div>
